<!DOCTYPE html>
<html>
    <head>
        <title> RadSim </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" 
        rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <!-- Display 'Thank You!'' message if final set -->
        <div class="container"> 
        <% if (current_set != 50) { %>
            <h1>Rad<span class="color-span">Sim </span> </h1>
           
            <div class="sample">

                    <% if (current_set <= 25) { %>
                        <p>Select the most similar images to the following X-ray image </p>
                    <% } %>

                    <% if (current_set > 25 && current_set < 51) { %>
                        <p>Select the most similar images to the following CT scan image based
                            <br/> on the subject's weight </p>
                    <% } %>

    
                    <% if (message == 'Success!') { %>
                        <div class="alert success"><%= message %></div>
                    <% } %>

                    <% if (message == 'Invalid!') { %>
                        <div class="alert invalid"><%= message %></div>
                    <% } %>
    
                    <img class="query-image" src="images/set_<%= current_set %>_query.jpg" style="width: 20vh; height: 20vh"/>
    
                    <form action="/vote" method="POST">
                        <div class="row-1">
    
                            <% for(var i=1; i < 6; i++) { %>
                                <input name="<%= i %>" type="checkbox" id="<%= i %>" />
                                    <label for="<%= i %>">
                                        <img src="images/set_<%= current_set %>_similar_<%= i %>.jpg" style="width: 16vh; height: 16vh" />
                                    </label>
                             <% } %>
    
                        </div>
                        <div class="row-2">
    
                             <% for(var i=6; i <= 10; i++) { %>
                                <input name="<%= i %>" type="checkbox" id="<%= i %>" />
                                    <label for="<%= i %>">
                                        <img src="images/set_<%= current_set %>_similar_<%= i %>.jpg" style="width: 16vh; height: 16vh"/>
                                    </label>
                             <% } %>
    
                        </div>
    
                        <input name="user_<%= user_id %>" type="hidden" />       
                        <input name="set_<%= current_set %>" type="hidden" />                
    
                        <button type="submit"">SUBMIT</button>
                    </form>
            </div>
        <% } %>

        <% if (current_set == 50) { %>
            <h1> Thank you for <span class="color-span"> participating! </span> </h1>
        <% } %>

        </div>





        
    </body>
</html>